<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta author="Sharique" content="This page contains v-for directive in VueJs2" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Loop Directive</title>
    <style>
        body {
            background-color: bisque;
        }

        ul {
            list-style: none;
        }

        ul li {
            padding: 10px;
            display: inline-block;
        }
    </style>
</head>

<body>

    <div id="myapp">
        <h1>Looping through Lists</h1>
        <!-- It will loop through our array and gives the ouput in each li tag -->
        <ul>
            <li v-for="character in characters">{{character}}</li>
        </ul>
        <!-- Array of Objects,We can show the index too from below example -->
        <ul>
            <li v-for="(ninja, index) in ninjas">{{index}}. {{ninja.name}} - {{ninja.age}}</li>
        </ul>
        <!-- Now will give an output with h3 and p tags looping. Here we will use template tag.
        This tag won't be taken under consideration from browser like other tags. If you replace 
    template with div tag you can see the changes between these two tags in Dev Tools -->
        <template v-for="(ninja, index) in ninjas">
            <h3>{{index}} - {{ninja.name}}</h3>
            <p>{{ninja.age}}</p>
        </template>

 <!-- What if we don't know how many properties are there in the object element.
We can find the key value pairs of properties from below example of 3 for loops-->
        <template v-for="ninja in ninjas">
            <div v-for="(val,key) in ninja">
                <p>{{key}} - {{val}}</p>
            </div>
        </template>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script>
        var vm = new Vue({
            el: "#myapp",
            data: {
                //array of strings
                characters: ['Mario', 'Luigi', 'Yoshi', 'Browser'],
                //array of objects
                ninjas: [
                    { name: 'Ryu', age: 25 },
                    { name: 'Yoshi', age: 35 },
                    { name: 'Ken', age: 55 }
                ]
            },
            methods: {

            },
            computed: {

            }

        });
    </script>
</body>

</html>